body{
    height: 100%;
    width: 100%;
    background-color: rgb(41, 40, 40);
    padding: 0%;
    text-align: center;
}

h1 {
     color: honeydew;
     font-family: monospace;
}
header{
     font-size: larger;
     text-decoration: none;
     padding-bottom: 2rem;
     padding-top: 2rem;
}


header a{
     text-decoration: none;
     padding: 1rem;
     color: honeydew;
     font-family: monospace;
}

header a:hover{
     background-color: rgb(99, 94, 94);
}

.pictures a{
     color: honeydew;
     font-family: monospace;
     text-decoration: none;
     padding-bottom: 2rem;
}

p{
     color: honeydew;
     font-family: monospace;
}

#AboutUs{
     scroll-behavior: smooth;
}

.pictures{
     display: inline-flex;
     color: honeydew;
     align-self: center;
     font-family: monospace;
     font-size: larger;
     flex-wrap: nowrap; 
     padding-top: 1rem;
     padding-bottom: 2rem;
     padding: 1rem;
}

.ada{
     background-image: url(Pictures/Cropped-Pictures/Ada_Lovelace_cropped.jpg);
     background-repeat: no-repeat;
     padding-top: 20rem;
     background-size: 100%;
     width: 14rem;     
}

.ada:hover{
     background-image: url(Pictures/Ada_Lovelace_portrait.jpg);
     background-repeat: no-repeat;
     padding-top: 20rem;
     background-size: 100%;
     height: 7rem;
     width: 20rem;
}

.grace{
     background-image: url(Pictures/Cropped-Pictures/Grace-Hopper-cropped.jpg);
     background-repeat: no-repeat;
     padding-top: 20rem;
     background-size: 100%;
     width: 14rem;
}

.grace:hover{
     background-image: url(Pictures/Grace-Hopper-1984.jpg);
     background-repeat: no-repeat;
     padding-top: 20rem;
     background-size: 100%;
     height: 7rem;
     width: 20rem;
}

.mary{
     background-image: url(Pictures/Cropped-Pictures/mary_keller\ cropped.png);
     background-repeat: no-repeat;
     padding-top: 20rem;
     background-size: 100%;
     width: 14rem;

}
.mary:hover{
     background-image: url(Pictures/mary_keller.png);
     background-repeat: no-repeat;
     padding-top: 20rem;
     background-size: 100%;
     height: 7rem;
     width: 20rem;
}

.janie{
     background-image: url(Pictures/Cropped-Pictures/janie-tsao-cropped.jpg);
     background-repeat: no-repeat;
     padding-top: 20rem;
     background-size: 100%;
     width: 14rem;
}

.janie:hover{
     background-image: url(Pictures/janie-tsao-190-100515222-orig.jpg);
     background-repeat: no-repeat;
     padding-top: 20rem;
     background-size: 100%;
     width: 20rem;
     height: 7rem;
}